.full_page{
  height: 100vh;
  background-color: #1f253d;
  border-top: 20px solid #394264;
  border-right: 15px solid #394264;
  border-left: 15px solid #394264;
  border-bottom: 20px solid #394264;
  margin: 0;
  text-align: center;
}

.header{
  font-size: 3em;
  color: white;
  font-weight: bold;
  margin-bottom: 35px;
}